     /* BANNER */
        .services-banner {
           background: linear-gradient(135deg, #1e3c72, #2a5298);
          color: white;
          padding: 140px 0 80px;
          height:370px;
        }

        .services-banner h1 {
          font-size: 3rem;
          font-weight: 800;
        }

        /* SERVICES */
        .services-section {
          padding: 100px 0;
          background: #fff;
        }

        .service-card {
          background: white;
          padding: 30px;
          border-radius: 15px;
          text-align: center;
          box-shadow: 0 10px 25px rgba(0,0,0,0.08);
          transition: 0.3s;
        }

        .service-card:hover {
          transform: translateY(-10px);
        }

        .icon {
          font-size: 40px;
          margin-bottom: 15px;
        }

        /* WHY */
        .why-service {
          padding: 80px 0;
          background: #f7f2eb;
        }


.sub-title {
  color: #6f42c1;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
}

.main-title {
  font-size: 48px;
  font-weight: 700;
  color: #1f1f1f;
  line-height: 1.3;
}

.why-desc {
  max-width: 800px;
  margin: auto;
  color: #666;
  font-size: 17px;
  line-height: 1.8;
}

.why-box {
  background: #fff;
  border-radius: 18px;
  padding: 30px 25px;
  display: flex;
  gap: 18px;
  align-items: flex-start;
  height: 100%;
  transition: 0.3s ease;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
}

.why-box:hover {
  transform: translateY(-6px);
}

.why-icon {
  width: 55px;
  height: 55px;
  min-width: 55px;
  border-radius: 50%;
  background: #f7f2eb;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
}

.why-box h4 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #222;
  font-weight: 600;
}

.why-box p {
  color: #666;
  line-height: 1.7;
  margin: 0;
  font-size: 15px;
}

@media (max-width: 768px) {
  .main-title {
    font-size: 34px;
  }

  .why-box {
    padding: 25px 20px;
  }
}
